$black: #000000;
$red: #df7777;
$white: #ffffff;

html,
body {
  &,
  * {
    cursor: auto;
  }
}

//Fonts
.heavy-font {
  font-family: ivypresto-display, serif;
  font-weight: 700;
  font-style: normal;
}

.light-font {
  font-family: trade-gothic-next, sans-serif;
  font-weight: 400;
  font-style: normal;
}

//Reusable styles
.black-box {
  background-color: black;
  width: 50px;
  height: 50px;
}

.center-page {
  display: flex;
  justify-content: center;
}

.center {
  display: flex;
  justify-content: center;
}

.horizontally-center-page {
  display: flex;
  justify-content: center;
}

.text-align-center {
  text-align: center !important;
}

.text-align-left {
  text-align: left !important;
}

.text-align-right {
  text-align: right;
}

.justify-content-start {
  justify-content: left !important;
}

.label {
  float: left;
}

.opacity-zero {
  opacity: 0;
}

.black-text {
  color: $black;
}

.red-text {
  color: $red;
}

.portfolio-item-title {
  margin-top: 20px;
}

//non reusable styles
.half-background {
  width: 100vw;
  height: 50vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f5efdf;
  z-index: -1;
}

.main-width {
  font-size: 15px;
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
  max-width: 800px;
}

.portfolio {
  padding: 80px 0px;
}

.contact {
  padding: 80px 0px;
}

.about {
  padding: 80px 0px;
}

.home {
  padding: 80px 0px;
}

.border-2 {
  border-width: 2px !important;
}

.border-3 {
  border-width: 3px !important;
}

.overlap {
  z-index: 999;
  position: relative;
}

.portfolio-content-image {
  width: 11em;
  height: 11em;
  border-radius: 20px;
  transition: 0.5s;
  border-style: solid;
  border-width: 3px;
  border-color: $black;
}

.portfolio-content {
  width: 11em;
}

.navigation-container-a {
  padding-top: 30px;
  margin-right: 40px;
}

.navigation-container-b {
  padding-top: 30px;
  margin-left: 40px;
}

.link {
  text-decoration: none;
}

.link-text {
  font-size: 1.5em;
  line-height: 0.5em;
  transition: 0.5s;
}

.link-about {
  text-decoration: underline;
  text-decoration-color: $black;
}

.link-about-b {
  text-decoration: none;
}

.link-underline {
  text-decoration: underline;
  text-decoration-color: $black;
}

.link-text:hover {
  color: $red;
  cursor: pointer;
}

.header-text {
  transition: 0.5s;
  font-size: 3em;
  line-height: 1;
  text-align: center;
  margin-bottom: 22px;
  margin-top: 22px;
}

.header-text-b {
  transition: 0.5s;
  font-size: 3em;
  line-height: 1;
  padding-right: 20px;
  text-align: left;
  margin-bottom: 40px;
  margin-top: 22px;
}

.header-text:hover {
  color: $red;
}

.header-text-b:hover {
  color: $red;
}

.period {
  color: $red;
}

.head-shot {
  width: 200px;
  padding: 12px;
}

.head-shot-container {
  width: 200px;
  height: 200px;
}

.head-shot-b {
  opacity: 0.4;
  height: 400px;
}

.blurb {
  text-align: center;
  padding-top: 22px;
  font-size: 1.2em;
}

.blurb-b {
  text-align: center;
  padding-top: 0px;
  font-size: 1.2em;
}

.blurb-c {
  text-align: left;
  font-size: 1.2em;
}

.flex-content-a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-content-b {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-30%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromLeftB {
  0% {
    transform: translateX(-30%);
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.header-text {
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: slideInFromLeft;
}

.header-text-b {
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: slideInFromLeft;
}

.head-shot-container {
  background-color: $red;
  border-radius: 100%;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: slideInFromRight;
}

.navigation {
  animation-duration: 1.8s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: slideInFromLeftB;
}

.blurb {
  animation-duration: 1.8s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: slideInFromRight;
}

.blurb-b {
  animation-duration: 1.8s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: slideInFromLeftB;
}

.blurb-c {
  animation-duration: 1.8s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: slideInFromLeftB;
}

.portfolio-content {
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: slideInFromRight;
}

@media (min-width: 600px) {
  .home {
    padding: 0px;
  }

  .header-text {
    text-align: left;
  }

  .center-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .head-shot-container {
    margin-top: calc(-200px / 6);
  }

  .flex-content-a {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: row;
  }

  .flex-content-b {
    display: flex;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: left;
    flex-wrap: row;
  }

  .portfolio-content-image {
    width: 11em;
    height: 11em;
  }
  .portfolio-content {
    width: 11em;
  }
  .blurb {
    text-align: left;
  }
  .blurb-b {
    text-align: right;
  }
}

@media (min-width: 797px) {
  html,
  body {
    &,
    * {
      cursor: none;
    }
  }

  .link-text:hover {
    color: $red;
    cursor: none;
  }

  .cursor-dot,
  .cursor-dot-outline {
    z-index: 10;
    top: auto;
    left: auto;
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  .cursor-dot {
    $size: 8px;
    width: $size;
    height: $size;
    background-color: $black;
  }

  .cursor-dot-outline {
    $size: 60px;
    width: $size;
    height: $size;
    background-color: rgba($red, 0.5);
  }

  .header-text {
    font-size: 3.5em;
  }

  .header-text-b {
    font-size: 3.5em;
  }

  .head-shot-container {
    width: 250px;
    height: 250px;
    margin-top: 2000px;
  }

  .head-shot {
    width: 250px;
  }

  .portfolio-content-image {
    width: 14em;
    height: 14em;
  }
  .portfolio-content {
    width: 14em;
  }
}

@media (min-width: 760px) {
  .header-text {
    font-size: 4em;
  }
  .header-text-b {
    font-size: 4em;
  }

  .head-shot-container {
    width: 300px;
    height: 300px;
    margin-top: calc(-300px / 3.8);
  }

  .head-shot {
    width: 300px;
    height: 300px;
  }
}
